<nav *ngIf="show" class="navbar sticky-top navbar-dark bg-dark">
  <div class="col-md-12">
    <div class="row">
        <span class="navbar-brand">
          <img class="d-inline-block align-top" width="45" height="45" src="https://cdn.pixabay.com/photo/2013/07/13/11/26/film-158157_1280.png" alt="Logo">
          <a class="navbar-brand" style="padding-left: 8px;">Movie Tracker</a>
        </span>
      <ul class="nav nav-tabs">
        <li class="nav-item;" routerLinkActive="active"><a class="nav-link text-light" routerLink="movies">Movies</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link text-light" routerLink="watch-list">My Watchlist</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link text-light" routerLink="watch-again">Watch It Again</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link text-light" routerLink="login">Login</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link text-light" routerLink="signup">signup</a></li>

      </ul>
        <!-- <li class="nav-item dropdown ml-auto">
          <a class=" nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Manage</a>
          <div class="dropdown">
            <button
              class="btn btn-outline-primary dropdown-toggle"
              type="button"
              id="manage"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >Manage</button>
            <ul class="dropdown-menu" aria-labelledby="manage">
              <li><a class="dropdown-item" href="#">Movies</a></li>
              <li><a class="dropdown-item" href="#">Watchlist</a></li>
              <li><a class="dropdown-item" href="#">Login</a></li>
            </ul>
          </div>
        </li> -->
    </div>
  </div>
</nav>
