
<div class="container" style="padding-top: 20px;">
  <div class="card mx-auto">
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{ imagePath }}" class="card-img-top" alt="{{title}}">
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <div>
        <p>Your Rating:</p>
        <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="true"></ngb-rating>
        <br>
        <button class="btn btn-success" (click)="addToWatchlist()">ADD TO WATCHLIST</button>
      </div>
    </div>
  </div>
</div>
