<!-- <div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="movieName" style="font-weight: bold;">{{movie.name}}</h3>
      </div>
      <br>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <img
        class="img-fluid"
        [src]="movie.imagePath" [alt]="movie.name">
      </div>
    </div><br>
    <div class="row">
      <div class="col-xs-12">
        <div>
          <h4>{{movie.description}}</h4>
          <p style="font-style: italic;">{{movie.runTime}}min</p>
        </div>
        <div class="pull-right">
          <div class="btn btn-toolbar">
            <button class="btn btn-danger"(click)="onDeleteMovie()">Delete Movie</button>
          <button class="btn btn-warning"(click)="onAddWatchlist()">Add To Watchlist</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container" style="padding-top: 20px;">
  <div class="card mx-auto" style="width: 18rem; text-align: center;">
    <img [src]="movie.imagePath" class="card-img-top" alt="{{movie.name}}">
    <div class="card-body">
      <h5 class="card-title">{{ movie.name }}</h5>
      <p class="card-text">{{ movie.description | shorten: 30 }}</p>
      <br>
      <p class="list-group-item-text"
      style="font-style: italic; text-align: left;">{{movie.runTime}}min</p>
      <span>
        <!-- <button class="btn btn-success" (click)="onDeleteMovie()">Mark as Watched</button> | -->
        <button class="btn btn-danger" (click)="onAddWatchlist()">Add To Watchlist</button>
      </span>
    </div>
  </div>
</div>


