<h3 class="movieNewHeader">Add Your Favorite Movie Below!</h3>
<br>
<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-8">
            <div class="form-group">
              <label for="movieName">Movie Title</label>
              <input
              type="text"
              id="movieName"
              class="form-control"
              ngModel
              name="movieName"
              required>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label for="runtime">Runtime</label>
              <input
              type="number"
              min="1"
              id="runtime"
              class="form-control"
              ngModel
              name="runtime"
              required>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label for="imgURL">Image Path</label>
              <input
              type="text"
              id="imgURL"
              class="form-control"
              ngModel
              name="imgURL"
              required>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label for="description">Description</label>
              <textarea
              rows="3"
              type="text"
              id="description"
              class="form-control"
              ngModel
              name="description"
              required>
              </textarea>
            </div>
          </div>
          <div class="btn btn-toolbar">
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!f.valid"
              >Save Movie
            </button>
            <button
              class="btn btn-primary"
              type="button"
              (click)="onClear(f)"
              >Clear
            </button>
            <button
              class="btn btn-danger"
              type="button"
              (click)="onCancel(f)"
              >Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
