<div class="container-fluid text-center" *ngIf="movies.length === 0">
    <h2>Add some movies to your watch list!</h2>
    <br>
    <button class="btn btn-primary btn-lg" (click)="viewMovies()">VIEW MOVIES</button>
    <br> <br>
    <img src="https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="stock img" width="800" height="600">
</div>
<div class="container-fluid" style="padding-block: 20px;" *ngIf="movies.length > 0" >
  <ngb-carousel
  #ngcarousel
  [showNavigationArrows]="true"
  [showNavigationIndicators]="false"
  interval="3000"
  [keyboard]="true"
  [pauseOnHover]="true"
  [wrap]="true">
    <ng-template *ngFor="let movie of movies; let i = index" ngbSlide>
      <div class="container" style="padding-top: 20px;">
        <div class="card mx-auto" style="width: 350px; text-align: center;">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{ movie.imagePath }}" class="card-img-top" alt="{{movie.name}}">
          <div class="card-body">
            <h5 class="card-title">{{ movie.name }}</h5>
            <span>
              <button class="btn btn-success" (click)="onMovieWatched()">Mark as Watched</button> |
              <button class="btn btn-danger" (click)="onRemove(i)">Remove</button>
            </span>
          </div>
        </div>
      </div>
      <app-review [starRating]="rating" *ngIf="movieWatched" (rating)="setReview($event, i)" (close)="onMovieReviewed(i)"></app-review>
    </ng-template>
  </ngb-carousel>
  <!-- <div class="text-center">
    <button class="btn btn-outline-secondary" (click)="getToPrev()">Prev</button> |
    <button class="btn btn-outline-secondary" (click)="goToNext()">Next</button>
  </div> -->
</div>


