/* You can add global styles to this file, and also import other style files */
h4 {
  font-weight: bold;
}

h2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
  box-shadow: 10px 20px 50px rgb(82, 7, 7);
  width: 18rem;
  text-align: center;
}

.bodybg-color {
  background-color: #ccc;
}

.btn {
  text-transform: capitalize;
  font-weight: bold;
}
