<div class="container">
  <div class="row">
    <div class="col-12 img-container ">
      <div class="mx-auto content">
        <div class="col-12 col-md-6 text-center">
        <h1>Welcome To Movie Tracker</h1>
        <p>Movie Tracker is a platform in which you can explore and keep record of movies you have watched --or want to watch.
          Browse popular movies, build your watchlist, and rate your favorites!

        </p>
        <a routerLink="/movies"><button class="btn btn-primary text-white">Start Tracking >></button></a>
      </div>
      </div>
    </div>
  </div>
</div>
